name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["master"]

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Run go vet
        run: go vet -tags=integrations ./...

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - name: Run staticcheck
        run: staticcheck ./...

      - name: Install revive
        run: go install github.com/mgechev/revive@latest
      - name: Run revive
        run: revive -config .revive.toml ./...

  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Run unit tests
        run: go test -v ./...

  build:
    runs-on: ubuntu-latest
    needs: test
    outputs:
      image_tag: ${{ steps.meta.outputs.sha }}
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@v4

      - name: Read version
        id: version
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build app image
        run: |
          docker buildx build --platform linux/amd64 \
          -t sariya10/game_service:${{ github.sha }} --target app \
          -t sariya10/game_service:v${VERSION} \
          -f deployments/docker/prod/app.Dockerfile --push .

      - name: Build migrations image
        run: |
          docker buildx build --platform linux/amd64 \
          -t sariya10/game_service_migrations:${{ github.sha }} --target migrations \
          -t sariya10/game_service_migrations:v${VERSION} \
          -f deployments/docker/prod/migrator.Dockerfile --push .

      - name: Set image tag output
        id: meta
        run: |
          echo "sha=${{ github.sha }}" >> $GITHUB_OUTPUT

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            set -euo pipefail
            cd ~/deploy_game_service
            IMAGE_TAG=${{ needs.build.outputs.image_tag }}
            echo "Using IMAGE_TAG=$IMAGE_TAG"
            docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
            docker pull sariya10/game_service:${IMAGE_TAG}
            docker pull sariya10/game_service_migrations:${IMAGE_TAG}
            sed -i "s|^APP_IMAGE_NAME=.*|APP_IMAGE_NAME=sariya10/game_service:${IMAGE_TAG}|" config/prod.env
            sed -i "s|^MIGRATOR_IMAGE_NAME=.*|MIGRATOR_IMAGE_NAME=sariya10/game_service_migrations:${IMAGE_TAG}|" config/prod.env
            
            docker compose -p game_service \
            -f docker-compose.yaml \
            --env-file ./config/prod.env \
            run --rm game_service_migrations
            
            docker compose -p game_service \
            -f docker-compose.yaml \
            --env-file ./config/prod.env \
            up -d game_service_app
            
            docker image prune -f